*{
    font-family: 'Work Sans', sans-serif;
    margin: 0 auto;
}
/* --------------------
    Header Styles
-------------------*/
.header{
    background-color: #FF900E1A;
    width: 1440px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.header-container{
    display: flex;
    margin-bottom: 100px;
    align-items: center;
}
.header-name{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}
.nav-bar{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}
.nav-bar li{
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
}
.header-details{
    width: 860px;
    text-align: center;
}
.header-title{
    font-size: 64px;
    font-weight: 700;
    color: #131313;
    margin-bottom: 20px;
}
.header-description{
    color: #727272;
    margin-bottom: 30px;
}
.header-button{
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    color: white;
    background-color: #FF900E;
    border: 0;
    border-radius: 5px;
    margin-bottom: 50px;
}
.header-banner{
    text-align: center;
}
.header-banner img{
    width: 1100px;
    margin-bottom: 45px;
}

/*-----------------------
  Feature List Styles 
----------------------*/
.feature-list{
    width: 1100px;
    margin: 0 auto;
}
.feature-list-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 24px;
    margin-left: 50px;
}
.feature-list-image img{
    height: 280px;
    width: 280px;
}
.feature-list-container{
    display: flex;
    align-items: center;
    gap: 70px;
}
.feature-list-details{
    width: 530px;
}
.feature-list-title{
    font-size: 45px;
    font-weight: 800;
    color: #000000;
    margin-bottom: 25px;
}
.feature-list-description{
    color: #727272;
    font-size: 14px;
    margin-bottom: 30px;
}
.feature-list-button{
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    color: white;
    background-color: #FF900E;
    border: 0;
    border-radius: 5px;
}

