*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0 auto;
}
/* --------------------
    Header Styles
-------------------*/
.header{
    background-color: #FF900E1A;
    width: 1440px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.header-container{
    display: flex;
    margin-bottom: 100px;
    align-items: center;
}
.header-name{
    font-size: 40px;
    font-weight: 700;
    color: #131313;
}
.nav-bar{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}
.nav-bar li{
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
}
.header-details{
    width: 860px;
    text-align: center;
}
.header-title{
    font-size: 64px;
    font-weight: 700;
    color: #131313;
    margin-bottom: 20px;
}
.header-description{
    color: #727272;
    margin-bottom: 30px;
}
.header-button{
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    color: white;
    background-color: #FF900E;
    border: 0;
    border-radius: 5px;
    margin-bottom: 50px;
}
.header-banner{
    text-align: center;
}
.header-banner img{
    width: 1100px;
    margin-bottom: 45px;
}
main{
    width: 1100px;
    margin: 0 auto;
}
/*-----------------------
  Feature List Styles 
----------------------*/
.feature-list{
    width: 1100px;
    margin: 0 auto;
    margin-bottom: 130px;
}
.feature-list-container{
    display: flex;
    align-items: center;
    gap: 70px;
}
.feature-list-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 24px;
    margin-left: 50px;
}
.feature-list-image img{
    height: 280px;
    width: 280px;
}
.feature-list-details{
    width: 530px;
}
.feature-list-title{
    font-size: 45px;
    font-weight: 800;
    color: #000000;
    margin-bottom: 25px;
}
.feature-list-description{
    color: #727272;
    font-size: 14px;
    margin-bottom: 30px;
}
.feature-list-button{
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    color: white;
    background-color: #FF900E;
    border: 0;
    border-radius: 5px;
}
/*--------------------------- -----
   Enjoyable Feature Styles
------------------------------- */
.enjoyable-feature-container{
    display: flex;
    gap: 90px;
    width: 1200px;
}
.enjoyable-feature-details{
    width:590px;
}
.feature-title{
    font-size: 45px;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-bottom: 24px;
}
.feature-description{
    color: #727272;
    font-size: 16px;
    margin-bottom: 30px;
}
.enjoyable-feature-list{
    width: 520px;
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}
.enjoyable-feature-list h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.enjoyable-feature-list p{
    color: #727272;
}
.enjoyable-feature-image img{
    width: 520px;
    height: 750px;
}
.experience{
    width: 340px;
    font-size: 60px;
    line-height: 30px;
    font-weight: 700;
    color: white;
    background-color: #FF900E;
    padding: 50px 0px 30px 0px;
    text-align: center;
    border-radius: 10px;
}
#experience{
    font-size: 20px;
    font-weight: 400;
}

